@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Montserrat:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
  
  --color-gold: #D4AF37;
  --color-gold-muted: #B49020;
}

@utility glass {
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
}
